<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Colibri Predictor</title>
    <link rel="stylesheet" href="static/predictor.css" type="text/css" media="all" />    
    <script src="static/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/rangyinputs-jquery-1.1.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/predictor.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="lamalogo"></div>
            <div id="rulogo"></div>
            <h1>Colibri Predictor &bull; Predictive Text Input</h1>
        </div>

        <div class="box">
            <div id="suggestions">
                
            </div>
            <div id="input">
                <textarea id="textinput"></textarea>
            </div>
        </div>
    </div>
</body>

</html>
